<h1>Compose</h1>
<%= link_to "C4.5", :action => :j48 %><br />
<%= link_to "Random Forests", :action => :randomforests %><br />
<%= link_to "OneR", :action => :oner %><br />
<%= link_to "Markov Models", :action => :markov %>
