<h1>Muscical Turing Test</h1>
<p>The rules are simple. You will be presented a series of chord sequences.
For each sequence, you will see a play button. After playing the sequence,
you will select if you think the sequence was produced by a human or computer.
Select start below to begin.</p>
<%= button_to :start, {:action => :start}, {:method => :get} %>
