<h1>Muscical Turing Test</h1>
<p>The rules are simple. You will be presented a series of chord sequences.
For each sequence, you will see a play button. After playing the sequence,
you will select if you think the sequence was produced by a human or computer.
Select start below to begin.</p>
<%= button_to :start, {:action => :start}, {:method => :get} %>
<div class="sharing" style="margin: 10px;">
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share"></div>
<div class="fb-like" data-href="http://yrral.net/musicality.html" data-send="false" data-width="450" data-show-faces="true"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yrral.net/musicality.html">Tweet</a>
</div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
